:root{
    --softRed: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --darkBrown: hsl(25, 47%, 15%);
    --mediumBrown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --veryPaleOrange: hsl(33, 100%, 98%);

}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--cream);
}

header{
    width: 90%;
    background-color: var(--softRed);
    margin: 5rem auto 1rem;
    padding: 0 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

header div{
    color: var(--veryPaleOrange);
}

header div p{
    color: var(--cream);
}

main{
    width: 90%;
    margin: auto;
    background-color: var(--veryPaleOrange);
    border-radius: 1rem;
    padding: 1rem 1rem;
}