:root{
    --softRed: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --darkBrown: hsl(25, 47%, 15%);
    --mediumBrown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --veryPaleOrange: hsl(33, 100%, 98%);

}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--cream);
}

header{
    width: 90%;
    background-color: var(--softRed);
    margin: 5rem auto 1rem;
    padding: 0 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    color: var(--veryPaleOrange);
}

header div p{
    color: var(--cream);
}

main{
    width: 90%;
    margin: auto;
    background-color: var(--veryPaleOrange);
    border-radius: 1rem;
    padding: 1rem 1rem;
}

.spending{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 0.3rem;
    align-items: flex-end;
    margin: auto;
}

.spending_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 40vh;
    
}

.graph{
    background-color: var(--softRed);
    width: 2rem;
    border-radius: 0.3rem;align-self: flex-end;
}

.spent{
    background-color: var(--darkBrown);
    color: var(--veryPaleOrange);
    font-size: 0.6rem;
    width: 2.7rem;
    padding: 0.3rem;
    text-align: center;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    display: none;
}

.day{
    color: var(--mediumBrown);
    font-size: 0.7rem;
    opacity: 0.7;
}

hr{
    width: 100%;
    background-color: var(--cream);
    border-color: var(--cream);
    margin-top: 1.5rem;
    height: 2px;
    border: none;
}

.totals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    
}

.totals p{
    margin: 0;
    color: var(--mediumBrown);
}

h3{
    margin-top: 0;
    font-size: 2rem;    
    font-weight: 900;
    color: var(--darkBrown);
}

h4{
    margin-bottom: 0;
    color: var(--darkBrown);
    font-weight: 900;
    font-size: 1.2rem;
    text-align: right;
}

.attribution {
    font-size: 0.7rem;
    text-align: center;
    padding: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width:550px) {
   body{
       height: 100vh;       
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   } 

   .container{
       width: 35%;
   }

   header{
       padding: 1rem;
       margin: 0 auto 1rem;
   }

   header div p, header div h1{
       margin: 0;
       font-size: 0.8rem;
       opacity: 0.9;
   }

   header img{
       width: 15%;
       height: 15%;
   }

   h2{
       font-size: 1rem;
       margin-top: 0;
   }

   .spending_container{
       height: 30vh;
   }

   .graph{
       width: 1.7rem;
   }

   .totals{
       margin-top: 0rem;
   }

   .totals p{
       font-size: 0.7rem;
   }

   h3{
       font-size: 1.5rem;
   }

   h4{
       font-size: 0.8rem;
   }

   .attribution{
       font-size: 0.6rem;
   }
}